.card-wrapper {
  display: inline-block;

  transition:
    transform 0.15s ease,
    filter 0.15s ease;
}

.card-image {
  width: 95px;
  height: auto;

  display: block;

  user-select: none;
}

.playable {
  cursor: pointer;
}

.playable:hover {
  transform: translateY(-15px);
  filter: brightness(1.08);
}

.not-playable {
  opacity: 0.65;
}
